doctype html
html
  head
    title Irfan Cricket Academy
    block scripts
    block style
  body
    nav#navbar.top 
       ul
        div#logo 
           img(src="/static/img/logo.jpeg")
           | ICA
        li #[a(href="/") Home]
        li #[a(href="/") About]
        li #[a(href="/") Services]
        li #[a(href="/") Class Info]
        li #[a(href="/contact") Contact us]
    block content 
    footer#footer 
        | Copyright 2021 IrfanCricketAcademy.com | All rights  reserved